body{min-width: 100vh; margin: 0; background-color: black;}
header {
  background-color: #77664d;
  grid-area: a; padding: 1%;
}
aside {
  background-color: rgb(119, 138, 106);
  grid-area: b;
  display: flex; flex-direction: column; padding: 10%; min-height: 100vh;}
main {
  background-color:rgb(168, 152, 137);
  grid-area: c;
}
footer {
  background-color: rgb(119, 82, 56);
  grid-area: d; padding: 1%;
}
.contenedor {
  display: grid;
  grid-template-areas:
  "a a a a a a a"
  "b b c c c c c"
  "b b c c c c c"
  "d d d d d d d";
} 
.contenedorcartas { display:flex; flex-wrap: wrap; gap:1vh}
.card{margin:3vh;}
.card-body {background-color: #a19364;}